.cover {
    background-image: url(/assets/img/Mask\ Group.png);
    background-repeat: no-repeat;
}

.cover h1 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 50px;
    margin-left: 170px;
}

.form {
    border: unset;
    border-bottom: 1px solid gray;
    border-radius: unset;
    background-color: transparent;
}

.pin:active {
    border-bottom: 1px solid gray;
}


.mar-se {
    margin-right: 150px;
    margin-left: 150px;
}

.ul-wrap {
    border-radius: 20px;
}

.dash {
    background-color: transparent;
    border: unset;
}

.menu:hover {
    cursor: pointer;
    background-color: unset;
}

.cari {
    background-color: transparent;
}

.modal {
    --bs-modal-header-border-color: unset;
    --bs-modal-footer-border-color: unset;
}

.home-wallet {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 29px;
}

.home-wallet:hover {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 29px;
}

.a-login {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 18px;
}

.a-login:hover {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 18px;
}

.a-menu {
    text-decoration: none;
    font-weight: 700;
    color: rgba(58, 61, 66, 0.8);
    font-size: 18px;
}

.a-menu:hover {
    text-decoration: none;
    font-weight: 700;
    color: #6379F4;
    font-size: 18px;
}