* {
    margin: 0;
    padding: 0;
    /* border: 0.5px solid black; */
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-image: url(../img/Rectangle\ 43.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.container {
    margin: 63px 150px 0 150px;
}

header {
    display: flex;
    justify-content: space-between;
}

header p {
    font-size: 29px;
    color: #6379F4;
}

header .button {
    width: 270px;
    display: flex;
    justify-content: space-between;
}

header .button button {
    height: 100%;
    width: 120px;
    font-size: 18px;
    border-radius: 12px;
}

header .button button.login {
    color: white;
    background-color: #6379F4;
    border: 1px solid white;
}

header .button button.sign {
    color: #6379F4;
    background-color: white;
    border: 1px solid #6379F4;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

nav.nav1 {
    width: 50%;
}

nav.nav2 {
    width: 50%;
}

nav div.nav1 p.p1 {
    font-size: 60px;
}

nav div.nav1 p.p2 {
    font-size: 18px;
    margin-top: 40px;
}

nav div.nav1 button {
    width: 173px;
    height: 57px;
    font-size: 18px;
    border-radius: 12px;
    background-color: #6379F4;
    color: white;
    border: transparent;
    margin-top: 50px;
}

main {
    background-color: rgba(71, 58, 209, 0.06);
    height: 760px;
}

main div.container div.text {
    text-align: center;
}

main div.container div.text .p1 {
    text-align: center;
    font-size: 60px;
}

main div.container div.text .p2 {
    text-align: center;
    font-size: 18px;
    margin: 30px auto;
    width: 50%;
}

main div.container div.row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

main div.container div.row div.card {
    background-color: white;
    width: 370px;
    text-align: center;
    border-radius: 25px;
}

main div.container div.row div.card div.img {
    margin-top: 40px;
}

main div.container div.row div.card p.support {
    margin-top: 35px;
    font-size: 24px;
}

main div.container div.row div.card p.contact {
    margin-top: 35px;
    font-size: 18px;
}

.container .row {
    display: flex;
    justify-content: space-between;
}

.container .row .col1 h1 {
    font-size: 60px;
}

.container .row .col1 p {
    font-size: 18px;
}

section {
    background-color: rgba(71, 58, 209, 0.06);
}

section .container {
    display: flex;
    justify-content: space-between;
}

section .container .img {
    margin-top: 50px;
}

section .container .features {
    margin-top: 174px;
}

section .container .features h1 {
    font-size: 60px;
}

section .container .features .list1 {
    background-color: white;
    border-radius: 25px;
    padding: 25px;
}

section .container .features .list2 {
    background-color: white;
    border-radius: 25px;
    padding: 25px;
}

section .container .features .list3 {
    background-color: white;
    border-radius: 25px;
    padding: 25px;
}

section .container .features .list1 h2 {
    font-size: 20px;
}

section .container .features .list1 p {
    font-size: 18px;
}

section .container .features .list2 h2 {
    font-size: 20px;
}

section .container .features .list2 p {
    font-size: 18px;
}

section .container .features .list3 h2 {
    font-size: 20px;
}

section .container .features .list3 p {
    font-size: 18px;
}

article .container .row h1 {
    margin: 120px auto 0;
    font-size: 60px;
}

article .container .row p {
    text-align: center;
    margin: 30px auto 0;
    font-size: 18px;
}

article .container .row-card {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

article .container .row-card .card {
    background-color: white;
    width: 370px;
    text-align: center;
    border-radius: 25px;
}

article .container .row-card .card div.img {
    margin-top: 40px;
}

article .container .row-card .card p.support {
    margin-top: 35px;
    font-size: 24px;
}

article .container .row-card .card p.contact {
    margin-top: 35px;
    font-size: 18px;
}

footer {
    background-color: #6379F4;
}

footer .container h1 {
    color: white;
    font-size: 36px;
}

footer .container p {
    color: white;
    font-size: 18px;
    margin-top: 30px;
}

footer .container hr {
    color: white;
    border: 1px solid white;
    margin-top: 50px;
}

footer .container .footer {
    display: flex;
    justify-content: space-between;
}

footer .container .footer .cp {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 20px;
}